html {
  height: 100%;
}
html body {
  height: 100%;
  // overflow: hidden;
}

// ヘッダー
.header-group {
  height: 30px;
  background-color: #3eb623;
}

// 中央領域
.center-group {
  background-color: #6c757d;
  height: auto;
  width: auto;
  // 左領域
  & .left-group {
    min-width: 110px;
    max-width: 110px;
    height: 100vh;
    width: 20%;
    & .button-group {
      & .btn-secondary {
        border-radius: 0px;
      }
    }
  }
  // 中央領域
  & .center-group {
    width: 100%;
    background-color: rgb(235, 235, 235);
  }
}

// フッター
.Footer {
  height: 30px;
  background-color: #3eb623;
}

.center-group {
  & .card {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  }
}

.mycalender {
  // overflow:auto;
  // width: 500px;
  & td {
    border: solid 0.1px red;
    width: 100px;
    // background-color: red;
  }
}

.center-group {
  & .container {
    // background-color: red;
    border: solid 2px orange;
  }
}

// 検査計画
.KensaGridP {
  height: 100px;
  width: 800px;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  & .KensaGridC {
    height: 40px;
    width: 40px;
    display: inline-block;
    clear: left;
  }
}
