html {
  // height: 100%;
  // width: 100%;
  overflow:hidden;
}
html body {
  // height: 100%;
  overflow:hidden;
}

// ヘッダー
.header-group {
  height: 30px;
  background-color: #3eb623;
}

// 中央領域
.center-group {
  background-color: #6c757d;
  height: auto;
  width: auto;
  // 左領域
  & .left-group {
    min-width: 110px;
    max-width: 110px;
    height: 100vh;
    & .button-group {
      & .btn-secondary {
        border-radius: 0px;
      }
    }
  }
  & .card {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  }

  & .container {
    // background-color: red;
    border: solid 2px orange;
  }
  // 中央領域
  & .center-cente-group {
    width: 100%;
    background-color: rgb(235, 235, 235);
  }
}

// フッター
.Footer {
  height: 30px;
  background-color: #3eb623;
}




#calendar{
  border:solid 1px red;
  overflow: hidden;
  // padding:0px;
  // margin:10px;

  & .waku-Head{
    color:blue; 
    // border:solid 1px red;
    // box-sizing: content-box;
  }
  & .waku-Data{
    color:blue;
    // border:solid 1px greenyellow;
    // width:100px;
  }
  & .waku-left{
    color:blue; 
    min-width:150px;
    // border:solid 1px red;
  }
  & .waku-right{
    color:blue; 
    overflow-x: scroll;
    // box-sizing: border-box;
    // width:100%;
  }

  // 検査計画Grid左
  & .KensaGridLeftP {
    white-space: nowrap;
    & .KensaGridLeftC {
      height: 40px;
      text-align: center;
      border:solid 1px;
    }
  }

  // 検査計画Grid右
  & .KensaGridDataP {
    white-space: nowrap;
    & .KensaGridDataC {
      height: 40px;
      width: 40px;
      display: inline-block;
      // clear: left;
      text-align: center;
      border:solid 1px;
    }
  }
}