html {
  height: 100%;
}
html body {
  height: 100%;
  overflow: hidden;
}

// ヘッダー
.Header {
  top: 0;
  height: 30px;
  // width: 100%;
  background-color: #3eb623;
}

// 中央領域
.center-group {
  background-color: #6c757d;
  // 左領域
  & .left-group {
    height: 100vh;
    width: 20%;
    & .button-group {
      & .btn-secondary {
        border-radius: 0px;
      }
    }
  }
  // 中央領域
  & .center-group {
    height: 100vh;
    width: 100vh;
    background-color: #10334b4d;
  }
}

// フッター
.Footer {
  background-color: #3eb623;
}
